<div class="row register-panel">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <h2>Register</h2>
      <form class="form-part" [formGroup]="validateForm" (ngSubmit)="_submitForm()">
        <div class="form-row">
          <i class="material-icons">face</i>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="userName"  required>
            <mat-error *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('require')">Please Input Your Name!</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <i class="material-icons">email</i>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email"  required>
            <mat-error *ngIf="emailError()">{{emailError()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <i class="material-icons">lock_outline</i>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password"  required>
            <mat-error *ngIf="passwordError()">{{passwordError()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <i class="material-icons">lock_outline</i>
          <mat-form-field>
            <input matInput placeholder="Confrim Password" type="password" formControlName="checkPassword"  required>
            <mat-error *ngIf="checkPasswordError()">{{checkPasswordError()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="register-btn">
          <button mat-raised-button color="accent" class="btn-round" [disabled]="!validateForm.valid">GET STARTED</button>
        </div>
      </form>
    </div>
  </div>
</div>