<div class="row">
    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
      <div class="card">
        <div class="card-header">
         <h4>RESET PASSWORD</h4>
        </div>
        <form class="card-form" [formGroup]="validateForm" (ngSubmit)="_submitForm()">
          <div class="form-row">
            <i class="material-icons">lock_outline</i>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" formControlName="password"  required>
              <mat-error *ngIf="passwordError()">{{passwordError()}}</mat-error>
            </mat-form-field>
          </div>
  
          <div class="form-row">
            <i class="material-icons">lock_outline</i>
            <mat-form-field>
              <input matInput placeholder="Confrim Password" type="password" formControlName="checkPassword"  required>
              <mat-error *ngIf="checkPasswordError()">{{checkPasswordError()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="card-footer">
            <button mat-button color="accent" [disabled]="!validateForm.valid" >RESET</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  